@model IEnumerable<sys_bodega.Models.Producto>
@{
    ViewBag.Title = "findAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt">
    <div class="col-lg-12">
        <h4><i class="fa fa-angle-right"></i> Lista de Usuarios</h4>
        <div class="content-panel table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td align="center">#</td>
                        <td align="center">Marca</td>
                        <td align="center">Descripcion</td>
                        <td align="center">Editar</td>
                        <td align="center">Estado</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => usuario.id)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => usuario.marca)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => usuario.descripcion)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => usuario.idStock)
                            </td>
                            <td align="center">
                                <a href="#" class="btn btn-success">Editar</a>
                            </td>
                            <td align="center">
                                <a href="#" class="btn btn-warning">Estado</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

